.DS_Store
.atom/
.idea/
.vscode/*
.melos_tool/*
!.vscode/tasks.json
!.vscode/settings.json

*.class
*.bak
*.fvm
*.log
*.pyc
*.swp
*.lock
*.iml
*.ipr
*.iws
.env
*.g.dart
*.freezed.dart

# Flutter/Dart/Pub related
**/doc/api/
**/failures
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
android/
ios/
desktop/
build/
coverage/
pubspec_overrides.yaml
